/.phpunit.cache/
/vendor/
/node_modules/
/config/config.php
/storage/cache/*
!/storage/cache/.gitkeep
/storage/auth/*
!/storage/auth/.htaccess
/storage/uploads/*
!/storage/uploads/.htaccess
!/storage/uploads/.gitkeep
/storage/press/*
!/storage/press/.htaccess
!/storage/press/.gitkeep
!.gitkeep
.DS_Store
Thumbs.db
